<!-- Hero -->
<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-heading text-xxl">
        A powerful solution to grow your startup. Fast!
      </h1>
      <p class="hero-text">
        Organize, collaborate, and track progress seamlessly with our
        one-stop-shop startup growth tool.
      </p>
      <div class="hero-buttons">
        <a routerLink="/" class="btn btn-primary">Get Started</a>
        <a routerLink="/" class="btn"><i class="fas fa-laptop"></i> Book a Demo</a>
      </div>
    </div>
  </div>
</section>s