/* Hero */
.hero {
  margin-bottom: 50px;

  .container {
    background: url("../../../../../../src/assets/images/hero-bg.png") no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px;

    @media (max-width: 670px) {
      background: url("../../../../../assets/images/hero-bg-mobile.png")
        no-repeat;
      background-size: 350px 400px;
      background-position: bottom;
      height: 770px;
    }
  }

  .hero-content {
    width: 70%;

    @media (max-width: 670px) {
      width: 100%;
      text-align: center;
      .hero-text {
        width: 70%;
        margin-bottom: 20px;
      }

      .btn {
        margin-bottom: 10px;
        display: block;
        width: 100%;
      }
    }
  }
}

/* Video */
.video {
  padding: 10px 0 40px;

  .video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video-preview {
    margin-bottom: 20px;
  }
}

/* Testimonials */
.testimonials {
  padding: 40px 0;

  .container {
    @media (max-width: 670px) {
      .testimonials-heading {
        max-width: 100%;
        text-align: center;
      }

      .testimonials-grid {
        grid-template-columns: 1fr;
      }
    }

    .testimonials-heading {
      width: 700px;
      margin-bottom: 40px;

      @media (max-width: 670px) {
        max-width: 100%;
        text-align: center;
      }
    }

    .testimonials-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      @media (max-width: 670px) {
        grid-template-columns: 1fr;
      }
    }

    .card p:nth-child(2) {
      margin-top: 30px;
      font-weight: bold;
    }
  }
}

/* Pricing */

.pricing {
  display: none;
  .pricing-card-subheading {
    margin-bottom: 30px;
  }

  .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;

    .pricing-card-price {
      margin-bottom: 30px;
      padding: 20px 0;
      border-bottom: 1px solid #ccc;
    }

    .pricing-card-body {
      ul {
        margin: 30px 0;
        li {
          margin-bottom: 20px;

          i {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .pricing-footer {
    margin: 30px 0;
  }

  // .dark-card{
  //   background-color: var(--dark-color) !important;
  //   color:var(--white);

  // }
}

/* FAQ */
.faq {
  padding: 40px 0;

  .faq-menu {
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;

    li {
      padding: 10px 20px;
      border-radius: 5px;
      text-align: center;

      &.active {
        background: var(--primary-color);
        color: #fff;
      }
    }
  }

  .faq-content {
    .faq-group {
      border-bottom: 1px solid var(--light-grey);
      padding-bottom: 20px;

      .faq-group-header {
        padding: 20px 0;
        margin-bottom: 15px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--light-color);

        h4 {
          font-weight: 600;
          width: 95%;
        }
        i {
          position: absolute;
          right: 0;
          top: 35px;
          font-size: 1.3rem;
          cursor: pointer;
        }
      }

      .faq-group-body {
        display: none;
        transition: 1s;

        &.open {
          display: block;
        }
      }
    }
  } //
}

//  .video
