:root{
  --default-bg-color: #ffffff;
  --default-text-color: #0000;
  --white: #ffffff;
  --black: #0000 !important;
  ---dark-grey:#333;
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
  --danger: #ff0303;
  --success: #047604;
  --info: #397bf7ef;
  --warning: #ffd642ef;
  --light-grey: #ccc;
  --dark-grey: #6e6e6e;
}
