<!-- Footer -->
<footer class="footer bg-black">
  <div class="container">
    <div class="footer-grid">
      <div>
        <a routerLink="/">
          <img src="assets/images/logo-white.png" alt="logo" />
        </a>
        <div class="card">
          <h4>Subscribe to Newsletter</h4>
          <p class="text-sm">
            Subscribe now to receive tips on how to take your business to
            the next level.
          </p>
          <form>
            <input type="email" id="email" placeholder="Enter your email" />
            <button type="button" class="btn btn-primary btn-block">
              Subscribe
            </button>
          </form>
        </div>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-twitter"></i>
      </div>
      <div>
        <h4>Company</h4>
        <ul>
          <li><a routerLink="/">About Us</a></li>
          <li><a routerLink="/">Our Process</a></li>
          <li><a routerLink="/">Join Our Team</a></li>
        </ul>
      </div>
      <div>
        <h4>Resources</h4>
        <ul>
          <li><a routerLink="/">News</a></li>
          <li><a routerLink="/">Research</a></li>
          <li><a routerLink="/">Recent Projects</a></li>
        </ul>
      </div>
      <div>
        <h4>Contact</h4>
        <ul>
          <li>
            <a routerLink="/">hello@growthapp.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>